@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #907070;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-darkBg: #14281d;
  --color-lightBg:  #fff0f3;


}
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
