/* styles/glow.css */


/* 🔥 انیمیشن حرکت گرادیانت */
@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient-move {
    animation: gradient-move 4s ease infinite;
    background-size: 200% 200%;
}